.CharacterDetailsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    margin-top: 2rem;
    padding: 2rem;
}

.CharacterImgContainer img{
    border: 1px solid #ddd;
    border-radius: 10px;
    object-fit: cover;
}

.DetailTitle{

    text-transform: capitalize;
    
}

.CharacterInfo::first-letter{
    text-transform: capitalize;
}
